<img class="img-responsive" src="/assets/images/Banner.png">

{{#if authController.isAuthenticated}}
  <div class="container">
  <div style="display:inline-block;">
    <h1>Client Support Administrative Portal</h1>
  </div>

  <button class="btn btn-default btn-chat-invoice">
    {{#link-to "editinvoice"}}
      <a style="color:#fff; text-decoration:none; list-style-type: none;"href="editinvoice">Edit Invoices</a>
    {{/link-to}}
  </button>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-inverse text-head">
      <tr>
        <th>
        Date
        </th>
        <th>
        Time
        </th>
        <th>
        Message
        </th>
        <th>
        Phone
        </th>
        <th>
        Account Owner
        </th>
      </tr>
    </thead>
      {{#each model as |message|}}
        <tbody>
          <tr class="text-table">
              <td class="">
                {{message.date}}
              </td>
              <td class="">
                {{message.time}}
              </td>
              <td class="">
                {{message.body}}
              </td>
              <td class="">
                {{message.phone}}
              </td>
              <td class="">
                {{message.acct_name}}
              </td>
          </tr>
        </tbody>
      {{/each}}
    </table>
  </div>
{{/if}}
