<img class="img-responsive" src="/assets/images/Banner.png">

{{#if authController.isAuthenticated}}
  <h1>Admin</h1>
  {{outlet}}

  {{#link-to "editinvoice" tagName="li"}}<a class="navbar-brand" href="editinvoice">Edit Envoices</a>{{/link-to}}
  <table class="table">
    <thead>
      <tr>
        <th>
        Date
        </th>
        <th>
        Time
        </th>
        <th>
        Message
        </th>
        <th>
        Phone
        </th>
        <th>
        Account Owner
        </th>
      </tr>
    </thead>
    {{#each model as |message|}}
      <tbody>
        <tr>
            <td class="">
              {{message.date}}
            </td>
            <td class="">
              {{message.time}}
            </td>
            <td class="">
              {{message.body}}
            </td>
            <td class="">
              {{message.phone}}
            </td>
            <td class="">
              {{message.acct_name}}
            </td>
        </tr>
      </tbody>
    {{/each}}
  </table>
{{/if}}